<a href="https://colab.research.google.com/github/dntai/sgu25_data_analytics/blob/main/buoi02_python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Buá»•i 02 - Demo

## Python Programming

In [4]:
from IPython.display import display

In [5]:
print("Hello World")
display("Hello World")

Hello World

'Hello World'

In [6]:
# comment

In [8]:
# Indentation
score = 80
if score >=60:
    print("Pass")

Pass

In [9]:
# Variable
x = 2
y = x + 1

In [11]:
# comment
from platform import python_version
print("Python Version:", python_version())

Python Version: 3.12.11

In [13]:
# data type
x = "Hello World"   #str
print(f'{x}, data type = {type(x)}')

x = 2               #int
print(f'{x}, data type = {type(x)}')

x = 2.5             #float
print(f'{x}, data type = {type(x)}')

x = 7j              #complex
print(f'{x}, data type = {type(x)}')

Hello World, data type = <class 'str'>
2, data type = <class 'int'>
2.5, data type = <class 'float'>
7j, data type = <class 'complex'>

In [16]:
# data structure
x = ["apple", "banana", "cherry"] #list
print(f'{x}, data type = {type(x)}')

x = ("apple", "banana", "cherry") #tuple
print(f'{x}, data type = {type(x)}')

x = range(6) #range
print(f'{x}, {list(x)}, data type = {type(x)}')

x = {"name": "Tom", "age": 20} #dict
print(f'{x}, data type = {type(x)}')

x = {"apple", "banana", "cherry"} #set
print(f'{x}, data type = {type(x)}')

x = frozenset({"apple", "banana", "cherry"}) #frozenset
print(f'{x}, data type = {type(x)}')

['apple', 'banana', 'cherry'], data type = <class 'list'>
('apple', 'banana', 'cherry'), data type = <class 'tuple'>
range(0, 6), [0, 1, 2, 3, 4, 5], data type = <class 'range'>
{'name': 'Tom', 'age': 20}, data type = <class 'dict'>
{'banana', 'apple', 'cherry'}, data type = <class 'set'>
frozenset({'banana', 'apple', 'cherry'}), data type = <class 'frozenset'>

In [17]:
x = True#bool
x = b"Hello"#bytes
x = bytearray(5) #bytearray
x = memoryview(bytes(5)) #memoryview
x = None#NoneType

In [18]:
# casting
x = str(3) # x will be '3'
y = int(3) # y will be 3
z = float(3) # z will be 3.0
print(x, type(x))
print(y, type(y))
print(z, type(z))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>

In [19]:
x = 2# int
y = 3.4# float
z = 7j#complex
print(x, type(x))
print(y, type(y))
print(z, type(z))

2 <class 'int'>
3.4 <class 'float'>
7j <class 'complex'>

In [20]:
print('7 + 2 =', 7+ 2)
print('7 -2 =', 7-2)
print('7 * 2 =', 7* 2)
print('7 / 2 =', 7/ 2)
print('7 // 2 =', 7// 2)
print('7 % 2 =', 7% 2)
print('7 ** 2 =', 7** 2)

7 + 2 = 9
7 -2 = 5
7 * 2 = 14
7 / 2 = 3.5
7 // 2 = 3
7 % 2 = 1
7 ** 2 = 49

In [21]:
# Python Booleans: True or False
print(3> 2)
print(3== 2)
print(3< 2)

True
False
False

In [32]:
for a, b in [(2, 5), (5, 2), (5, 5)]:
    print("-"*50)
    print(f"a<b: ({a}<{b}): {a<b}")
    print(f"a>b: ({a}>{b}): {b<a}")
    print(f"a<=b: ({a}<={b}): {not(b<a)}")
    print(f"a>=b: ({a}>={b}): {not(a<b)}")
    # a==b <-> a>=b and b>=a <-> not(a<b) and not(b<a) <-> not((a<b) or (b<a))
    # not (a and b) = not a or not b
    # not (a or b) = not a and not b
    print(f"a==b: ({a}=={b}): {not((a<b) or (b<a))}")
    print(f"a!=b: ({a}!={b}): {(a<b) or (b<a)}")

--------------------------------------------------
a<b: (2<5): True
a>b: (2>5): False
a<=b: (2<=5): True
a>=b: (2>=5): False
a==b: (2==5): False
a!=b: (2!=5): True
--------------------------------------------------
a<b: (5<2): False
a>b: (5>2): True
a<=b: (5<=2): False
a>=b: (5>=2): True
a==b: (5==2): False
a!=b: (5!=2): True
--------------------------------------------------
a<b: (5<5): False
a>b: (5>5): False
a<=b: (5<=5): True
a>=b: (5>=5): True
a==b: (5==5): True
a!=b: (5!=5): False

In [33]:
# BMI Calculator in Python
height_cm= 170
weight_kg= 60
height_m= height_cm/100
BMI = (weight_kg/(height_m**2))
print("Your BMI is: "+ str(round(BMI,1)))

Your BMI is: 20.8

In [34]:
# How much is your $100 worth after 7 years?
fv= 100* 1.1** 7
print('fv= ', round(fv, 2))
# output = 194.87

fv=  194.87

In [35]:
# Future Value
pv= 100
r = 0.1
n = 7
fv= pv* ((1+ (r)) ** n)
print(round(fv, 2))

194.87

In [36]:
# Future Value
amount = 100
interest = 10#10% = 0.01 * 10
years = 7
future_value= amount * ((1+ (0.01* interest)) ** years)
print(round(future_value, 2))

194.87

## Data Structure

In [43]:
## List
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])

print(x[0:2])
print(x[0::2]) # from:to:step
print(x[1::2])
print(x[::-1])

4
60
70
90
[60, 70]
[60, 80]
[70, 90]
[90, 80, 70, 60]

In [44]:
# Python Dictionaries
accounts = {
    "1001": {"name": "Cash", "balance": 500.00, "type": "Asset"},
    "1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"},
    "2001": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}
}
for account_number, account_info in accounts.items():
    print("-"*20)
    print("Account number:", account_number)
    print("Account name:", account_info["name"])
    print("Account balance:", account_info["balance"])
    print("Account type:", account_info["type"])

--------------------
Account number: 1001
Account name: Cash
Account balance: 500.0
Account type: Asset
--------------------
Account number: 1002
Account name: Accounts Receivable
Account balance: 1000.0
Account type: Asset
--------------------
Account number: 2001
Account name: Accounts Payable
Account balance: 750.0
Account type: Liability

## Control Logic

In [45]:
# Python if
score = 80
if score >=60:
    print("Pass")

Pass

In [46]:
# Python if elifelse
score = 90
grade = ""
if score >=90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "E"
print(grade)

A

## Functions

In [47]:
# Python Function def
# indentation for blocks. four spaces
def getfv(pv, r, n):
    fv= pv* ((1+ (r)) ** n)
    return fv

fv= getfv(100, 0.1, 7)
print(round(fv, 2))

194.87

## Class/Objects

In [49]:
class Person:
    def __init__(self, name, age):
        self.name= name
        self.age= age

    def myfunc(self):
        print("Hello my name is "+ self.name)

p1 = Person("Alan", 20)
print(p1.name)
print(p1.age)
p1.myfunc()

Alan
20
Hello my name is Alan

## Modules

In [50]:
%%writefile mymodule.py
def greeting(name):
    print("Hello, " + name)

Writing mymodule.py

In [51]:
!cat mymodule.py

def greeting(name):
    print("Hello, " + name)

In [52]:
from mymodule import greeting
greeting("Tom")

Hello, Tom

## Files / Input / Output

In [53]:
# Python File Input / Output
with open('myfile.txt', 'w') as file:
    file.write('Hello World\nPythonFile IO')

with open('myfile.txt', 'r') as file:
    text = file.read()

print(text)

Hello World
PythonFile IO

In [54]:
# Python File Input / Output
with open('myfile.txt', 'a+') as file:
    file.write('\n'+ 'New line')
with open('myfile.txt', 'r') as file:
    text = file.read()

print(text)

Hello World
PythonFile IO
New line

In [55]:
!ls

myfile.txt  mymodule.py  __pycache__  sample_data

In [57]:
import os
cwd= os.getcwd()
print(cwd)

/content

In [58]:
os.listdir(cwd)

['.config', 'myfile.txt', 'mymodule.py', '__pycache__', 'sample_data']

In [59]:
!ls sample_data/

anscombe.json		      mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md

In [60]:
path = os.path.join(cwd, 'sample_data')
print(path)
os.listdir(path)

/content/sample_data

['anscombe.json',
 'README.md',
 'mnist_test.csv',
 'mnist_train_small.csv',
 'california_housing_train.csv',
 'california_housing_test.csv']

In [62]:
import glob
files = glob.glob("**/*.csv")
print(files)

['sample_data/mnist_test.csv', 'sample_data/mnist_train_small.csv', 'sample_data/california_housing_train.csv', 'sample_data/california_housing_test.csv']

## Exceptions

In [65]:
#Python try except finally
try:
    print("Hello")
    int("aa")
    print("FInish")
except:
    print("Exception Error")
finally:
    print("Finally process")

Hello
Exception Error
Finally process

## Káº¿t thÃºc